body{
	font-family:  Lato;
}
.custom-navbar {

	width: 90%;
	margin: auto;
}
.custom-navbar .navbar{
	position: absolute;
	z-index: 1;
	width: 90%;
	margin: auto;

}
.custom-nav-logo{
	display: contents;
}
.carousel-inner img {
    width: 100%;

 }

.carousel-inner .carousel-item {
	background-image: linear-gradient(-90deg, red, crimson);
	
}
.carousel-inner .carousel-item img{

	opacity: 0.3;
}
.custom-navbar .rounded{
	border-radius: 5px;
}
/* .carousel-item .carousel-caption h3
{
	font-weight:  500;
	font-size: 80px;
} */
.carousel-item .carousel-caption p
{
	font-weight:  400;
	font-size: 25px;
	width: 81%;
	margin: auto;
}
.carousel-item .custom-caption
{
	top: 30%;
	width: 40%;
	margin: auto;
}
.custom-body-img{
	width: 100%;
}
.custom-body-img img{
	width: 100%;
}
.container .row .custom-shadow
{
	box-shadow: 0px 0px 20px #8080804f;
}
ontainer .row .custom-techno img
{
	width: 40%;
}
.container .row .custom-techno .custom-p
{
	font-size: 12px;
	width: 75%;
	margin: auto;
}
.custom-product
{
	background-color: #fafafa;
}
.custom-money
{
	background-color: #ed4c5c;
}
.custom-money .container
{
	max-width: 80%;
}

.col .custom-btn{
	background-color: #ed4c5c;
}
.footer .container p{
	font-size: 14px;
}
.footer{
		background-color: #fafafa;
}
.custom-about-slide{
	height: 500px;
}
.custom-about-slide .custom-caption
{
	top: 50%;
	width: 40%;
	margin: auto;
}

.costum-about{
	background-color: 
}
.brdr
{
	border-bottom:  2px solid rgba(255, 255, 255,0.3);
	
}
.custom-product .custom-container
{
	max-width: 90%;
}
.custom-product-gallery , .custom-product-gallery div{
	padding: 0!important;
	margin: 0!important;
}



